p Hi #{order.orderName}, 
p Thank you for your purchase at Time Sales Online.
p #{timeString}
p Feel free to use your time any time you like. If you wish to have a reference for the passing of your purchased time, you can access your custom time stream <a href="#{order.streamUrl}">here</a>.
p Please find the invoice in the attachment