p Hi #{entry.fullName}, 
p Thank you for your purchase at Time Sales Online.
p 1 x #{entry.timeString}
p If you haven't already used your <i>Time</i>, you can acess it <a href="#{entry.successUrl}">here</a>
p Please find the invoice in the attachment