/*
  Animation of loading dots
*/

$z-level-above-all: 999;

.dot-container {
  width: 20px; // force dots to stack vertically
  margin: auto;
}
  
.dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: $black;

  &:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite;
  }
  &:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite;
  }
  &:nth-last-child(3) {
    animation: loading .6s .1s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: lighten($black, 10%);
  }

  25% {
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 0);
    background-color: lighten($black, 10%);
  }
  75% {
    transform: translate(0, 3);
  }
  100% {
    transform: translate(0, 0);
  }
}