// Colors
$very-light-grey: #dbdbdb;
$light-grey: #b5b5b5;
$grey: #495057;
$black: #000;

@import 'loading-dots';

// Helper classes
.hidden {
  display: none;
}

// Botui
.bot-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

// Fix to show bot conversation on top of the sand simulation
.botui-container {
  background-color: transparent !important;
}

// Buttons
.button {
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  border-radius: .375em;
  border: 1px solid $very-light-grey;
  background-color: #fff;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  padding: calc(.5em - 1px) 1em;

  &:hover,
  &:focus,
  &:active {
    border-color: $light-grey;
  }
}

.help {
  font-size: .75rem;
  margin-top: .5rem;
}
