// Constants
$z-level-above-all: 999;

// Colors
$grey: #495057;
$black: #000;

/*
  Animation of loading dots
*/
.dot-container {
  position: absolute;
  z-index: $z-level-above-all;
  width: 100%;
  text-align: center;
  padding-top: 47vh;
  height: 50vh;
}

.dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: $black;

  &:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite;
  }
  &:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite;
  }
  &:nth-last-child(3) {
    animation: loading .6s .1s linear infinite;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: lighten($black, 10%);
  }

  25% {
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 0);
    background-color: lighten($black, 10%);
  }
  75% {
    transform: translate(0, 3);
  }
  100% {
    transform: translate(0, 0);
  }
}

.controls {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 10px;
}

.seconds-left {
  margin-right: 10px;
}

.pause-button {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

// Botui
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}