// Colors
$white: #f7f8f8;
$very-light-grey: #dbdbdb;
$light-grey: #b5b5b5;
$grey: #495057;
$black: #000;
$coral: #e399a0;

// Spaces
$space-xs: .25rem;
$space-s: .5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;

$column-width: 680px;

// Breakpoints
$bp-tablet: 800px;
$bp-desktop: 1200px;
$bp-hd: 1400px;

// General
$z-on-top: 100;
$z-on-top-all: 999;

// Fonts
@font-face {
  font-family: 'Kalice';
  src: url(~assets/Kalice-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Archivo';
  src: url(~assets/Archivo-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Archivo Black';
  src: url(~assets/Archivo-Black.ttf) format("truetype");
  font-weight: 700;
}

$standard-font: 'Arial', 'Archivo', sans-serif;
$standard-font-bold: 'Arial Black', 'Archivo Black', sans-serif;
$special-font: 'Kalice', sans-serif;

@import 'loading-dots';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $black;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  font-family: $standard-font;
  font-size: 16px;
  line-height: 1.3;

  @media screen and (min-width: $bp-tablet) {
    font-size: 15px;
  }
}

.header {
  display: inline-block;
  position: absolute;
  top: $space-l;
  left: $space-m;
  max-width: 170px; // force line break
  font-family: $standard-font-bold;
  font-size: 50px;
  line-height: 1;

  @media screen and (min-width: $bp-tablet) {
    font-size: 72px;
    max-width: 270px;
  }
}

.header-title {
  // unstyle default h1
  font-family: inherit;
  font-size: inherit;
  margin: 0; 
}

// Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Content container
.content {
  // Trick for correct height sizing on mobile
  // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  padding: 0 $space-m;
}

// Helper classes to center content within content container
.centered-content {
  margin: auto;
  width: 100%;
}

.page-content {
  margin: $space-xl auto;
  max-width: $column-width;
  width: 100%;
}

// Botui
.bot-container {
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 120px 0;
  width: 100%;
  max-width: $column-width;

  @media screen and (min-width: $bp-tablet) {
    width: 50%;
  }
}

// Botui overwrites
.content .botui-container {
  font-size: inherit;
  font-family: inherit;
  // Fix to show bot conversation on top of the sand simulation
  background-color: transparent !important;

  .botui-messages-container {
    padding: $space-s 0;
  }

  .botui-message-content,
  .botui-actions-text-input {
    color: $black;
  }

  .botui-message-content.human {
    // color: $white;
    margin-right: $space-m;
  }

  .botui-actions-text-submit {
    padding: $space-s;
    height: 2.5em;
    width: 2.5em;
    display: inline-block;

    // Do not show text submit button on desktop devices
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

// Buttons
// Footer active link
.nuxt-link-exact-active {
  font-weight: bold;
}

.button {
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  border-radius: .375em;
  border: 1px solid $very-light-grey;
  background-color: #fff;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  padding: calc(.5em - 1px) 1em;

  &:hover,
  &:focus,
  &:active {
    border-color: $light-grey;
  }

  &:disabled {
    // Disable hover styles when button is disabled
    cursor: auto;
    border-color: $light-grey;
    opacity: .5;
    box-shadow: 0 0 0 .075em $very-light-grey; // "active" state
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: -2.5em;
      display: inline-block;
      border: 2px solid $light-grey;
      border-top: 2px solid $grey;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin .75s linear infinite;
    }
  }
}

// Css animation for the loading spinner
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close-btn {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;

  // Add x icon as pseudo content
  &::after {
    display: inline-block;
    content: "\00d7";
  }

  &:hover,
  &:focus,
  &:active {
    color: $grey;
  }

  &--header {
    top: -$space-l;
  }

  &--review {
    font-size: 1.5em;
    right: $space-s;

    @media screen and (min-width: $bp-tablet) {
      font-size: 1.3em;
      line-height: 1.3;
      right: 0;
    }
  }

  &--pop-up {
    font-size: 2em;
    right: $space-s;

    @media screen and (min-width: $bp-tablet) {
      font-size: 1.5em;
    }
  }

  &--purchase {
    font-size: 1.5em;
    top: $space-xs;
    right: $space-s;

    @media screen and (min-width: $bp-tablet) {
      right: $space-m;
    }
  }
}

.help,
.error {
  font-size: .75rem;
  margin: $space-s auto;
  max-width: 70%;
}

.error {
  color: red;

  a {
    color: red;
  }
}

.link {
  line-height: 1;
  display: inline-block;
  margin-bottom: $space-xs;

  &--undecorated {
    text-decoration: none;
  }

  &--underlined {
    text-decoration: underline;
  }
}

.purchase-ticker {
  // Position purchase notifications at the bottom in full width
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-on-top-all;
}

.purchase {
  background-color: $coral;
  text-align: center;
  border-top: 1px solid black;
  padding: $space-xs $space-l;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  // For stacked purchases:
  // Pseudo element that fills blank space inbetween purchases
  &:not(:first-child) {
    &::before {
      background-color: $coral;
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      top: -1px;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: $space-s;
  }
}

// Review container is fixed at the top on mobile devices
@media screen and (max-width: $bp-tablet) {
  .review-container {
    position: fixed;
    top: 0;
    // Full width
    left: 0;
    right: 0; 
  }
}
.review {
  border-bottom: 1px solid $black;
  font-family: $special-font;
  font-size: 20px;
  text-align: center;
  padding: 0 $space-l;
  position: relative;
  z-index: $z-on-top;
  background: white;

  &:first-child {
    border-top: 1px solid $black;
  }

  // On desktop show reviews as pop-ups
  @media screen and (min-width: $bp-tablet) {
    padding-left: 0;
    padding-right: $space-m;
    padding-top: $space-l; // reserve space for close button
    border: none !important;
    font-size: 30px;
    position: absolute;
    max-width: 340px;
    text-align: left;
    background: transparent;
  }
}

// On desktop put author in seperate line 
@media screen and (min-width: $bp-tablet) {
  .review-author {
    display: block;
  }
}

.special-font {
  font-family: $special-font;
}

.popup-container {
  z-index: $z-on-top-all;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  @media screen and (min-width: $bp-tablet) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pop-up {
  box-shadow: 0 1em 1em rgba(0,0,0,.1);
  font-family: $special-font;
  font-size: 1.25rem; // For close button
  margin: 0 auto; // horizontally center
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    font-size: 1.5rem;
    max-width: 480px;
  }
}

.pop-up-image {
  display: block;
  width: 100%;
}

// Footer
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 50px; // to reserve space for toggle
  z-index: $z-on-top; // before reviews, but behind purchases
}

.footer {
  border-top: 1px solid $black;
  background-color: white;
  width: 100%;
  padding: $space-s $space-m;
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  width: 50%;
  display: flex;
  flex-direction: column;

  // Three columns layout
  @media screen and (min-width: $bp-tablet) {
    width: 25%;
    order: 1;
  }
}

.footer-branding {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: block;
    margin-top: auto;
    margin-right: $space-xs;
  }
}

.creators {
  width: 50%;
  // stack links on top of each other
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    width: 25%;
    display: flex;
    order: 2;
  }
}

.creators-header {
  margin-bottom: $space-m;
}

.patrons {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $space-s 0;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    margin: 0;
    width: 50%;
    justify-content: space-between;
    order: 3;
  }
}

.patron-logo {
  margin-top: $space-s;
  
  @media screen and (min-width: $bp-tablet) {
    margin-top: 0;
  }

  &--nrw {
    width: 170px;
    height: 37px;

    @media screen and (min-width: $bp-desktop) {
      width: 230px;
      height: 50px;
    }

    @media screen and (min-width: $bp-hd) {
      width: 280px;
      height: 60px;
    }
  }

  &--lab-k {
    width: 50px;
    height: 17px;
    margin-left: $space-l;
    margin-right: $space-m;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 60px;
      height: 20px;
    }

    @media screen and (min-width: $bp-hd) {
      width: 70px;
      height: 23px;
    }
  }

  &--advocates {
    width: 130px;
    height: 26px;

    @media screen and (min-width: $bp-desktop) {
      width: 150px;
      height: 30px;
      margin-right: $space-xl;
    }

    @media screen and (min-width: $bp-hd) {
      width: 165px;
      height: 33px;
      margin-right: 1.5 * $space-xl;
    }
  }

  &--future-holding {
    width: 130px;
    height: 26px;
  }

  &--bbk {
    width: 130px;
    height: 26px;
  }

  &--neustart-kultur {
    width: 130px;
    height: 26px;
  }
}

.footer-toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: $space-s;
  right: $space-m;
}

.debug-toggle {
  position: fixed;
  top: 0;
  right: $space-s;
  font-size: .75rem;
  display: flex;
  align-items: center;
  margin-top: $space-s;
}

.sim-controls {
  position: absolute;
  bottom: $space-s;
  right: $space-s;
}

/** Switch */
.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  cursor: pointer;
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
  margin-right: $space-s;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 50ms;
     -moz-transition: all 50ms;
          transition: all 50ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          background: black;
}

canvas {
    // Trick for correct height sizing on mobile
  // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw !important;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
}

// Checkout
.order-summary {
  font-size: 20px;
  margin-bottom: $space-l;

  @media screen and (min-width: $bp-tablet) {
    font-size: 30px;
  }
}

// Checkbox for receiving the invoice with postal mail
.checkbox-container {
  margin: $space-m 0;
}

.checkbox {
  font-size: .925em;
  color: $grey;

  &:hover {
    color: $black;
    cursor: pointer;
  }
}
